.menu-items
{
	text-align : center;
	margin : 10px;
	height : 25vh;
}

.menu-title
{
	color : #fff;
	position : absolute;
	left : 0;
	right : 0;
	bottom : 0;
}

#appLogoContainer
{
	text-align : center;
	padding-top : 80pt;
	margin-bottom : 50pt;
}

#appLogo
{
	font-size : 100pt;
	color : #ef473a;
}

#btnLogin
{
	border-radius : 50px;
}

.icon-dashboard:before
{
	font-size : 80pt !important;
	margin-top : 30pt;
}

#profileInfo
{
	background : #ef473a;
	margin-top : -5px;
	text-align : center !important;
	padding-bottom : 20px;
	padding-top : 20px;
}

#profileInfo h3,h5
{
	color : white;
}

#profileInfo span
{
	margin-left : 20px;
	margin-right : 20px;
}

#imgProfile
{
	border-radius : 50%;
	padding : 10px;
	border: 10px solid white;
}

#listSkills
{
	
}

.icon-gray
{
	color : #968f8f;
}

.skills-rating i::before
{
	font-size : 13pt !important;
	float : right;
	padding-top : 20pt;
}

.skills-rating :nth-child(1)::before
{
	padding-left : 45pt;
}

.skills-rating :nth-child(2)::before
{
	padding-left : 60pt;
}

.skills-rating :nth-child(3)::before
{
	padding-left : 75pt;
}
.skills-rating :nth-child(4)::before
{
	padding-left : 90pt;
}
.skills-rating :nth-child(5)::before
{
	padding-left : 105pt;
}

#projectCounter
{
	height : 35vh;	
}

#performanceMonth
{
	height : 55vh;	
}

#img_pd
{
	max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}

#pd_title, #pd_details
{
    padding: 5px;
}

#pd_rates
{
	color : #ef473a;
}

.degree
{
	font-size : 20pt;
	height : 50pt;
	line-height : 50pt;
}
.university
{
	font-size : 18pt;
}

.item
{

}